@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/comfortaa-regular-webfont.eot');
    src: url('../fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('../fonts/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/comfortaa-bold-webfont.eot');
    src: url('../fonts/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-bold-webfont.woff') format('woff'),
         url('../fonts/comfortaa-bold-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-bold-webfont.svg#comfortaabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* --------------------------------

   Norwich Singles

-------------------------------- */

html {
  font-size: 16px;
}

body {
  font-family: 'comfortaa';
  font-size: 1rem;
  color: #fff;
  padding: 0;
  margin: 0;
  background: url('../images/background.jpg') repeat-x top center;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

.hide {
  display: none;
}

.button {
  padding: 5px 8px;
  margin: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #f04c57;
}

.button:hover,
.button:focus {
  background-color: #e9424d;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* --------------------------------

   Top Navigation

-------------------------------- */

#nav {
  position: fixed;
  width: 100%;
  font-weight: bold;
  background: rgba(0, 0, 0, .8);
  z-index: 10;
}

#nav ul {
  text-transform: uppercase;
  list-style: none;
}

#nav li {
  float: right;
  margin: 0 1rem;
}

#nav li.home {
  float: left;
}

#nav a {
  display: block;
  padding: 1rem 0;
  padding-bottom: calc(1rem - 6px);
  border-bottom: 6px solid transparent;
}

#nav a:hover,
#nav a:focus {
  color: #fff;
  border-bottom-color: #f04c57;
}

@media (max-width: 550px) {
  #nav {
    text-align: center;
  }

  #nav li {
    float: none;
    display: inline-block;;
  }

  #nav li.home {
    display: none;
  }
}

/* --------------------------------

   Header

-------------------------------- */

#header {
  padding: 152px 0 100px; /* Add addition top padding for fixed nav */
}

#intro {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

#logo {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 550px) {
  #intro {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* --------------------------------

   Events

-------------------------------- */

#events {
  padding: 50px 0;
  background-color: #333740;
}

.event {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

.event .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .6);
}

.event .location {
  font-size: 1.1rem;
}

.event .location span {
  display: inline-block;
  vertical-align: top;
  line-height: 40px; /* Height of the adjacent icon */
}

.event .date {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.event .date > span {
  display: inline-block;
  vertical-align: top;
  line-height: 29px; /* Height of the adjacent icon */
}

.event .price {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
}

.event .secondary {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .8);
}

.event:hover .secondary,
.event:focus .secondary {
  display: block;
}


/* --------------------------------

   Event Overlay

-------------------------------- */

.event-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  background: rgba(0, 0, 0, .8);
  z-index: 20;
}

.event-overlay .content {
  position: relative;
}

.event-overlay .close {
  position: absolute;
  top: 0;
  right: 0;
}