---
layout: default
---

<div id="nav">
  <div class="row">
    <div class="columns small-12">
      <ul class="container">
        <li class="home"><a href="#">Norwich Singles</a></li>
        <li><a href="#how-it-works">How it works</a></li>
        <li><a href="#events">Events</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Header -->
<div id="header">
  <div class="container">
    <div class="row">
      <div class="columns small-12">
        <div id="logo">
          <img src="../images/logo.png" />
        </div>

        <div id="intro">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          felis eu orci pharetra feugiat.<br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla
          nibh, ullamcorper id pharetra eget, pharetra sed odio.</p>
          <p>Integer pharetra tempor commodo. Maecenas porttitor, eros vitae ornare
          faucibus, orci mi convallis ligula.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Events -->
<div id="events">
  <div class="container">

    <div class="row">
      <div class="columns small-12">
        <h2>Events</h2>
      </div>
    </div>

    <div class="row">
      {% for event in site.posts %}
        <div class="columns medium-6">
          <div class="event">
            <img src="../images/{{ event.image }}" />
            <div class="overlay">
              <div class="date">
                <img src="../images/icon-date.png" />
                <span>{{ event.dates }}</span>
              </div>
              <div class="location middle">
                <span>{{ event.title }}</span>
                <img src="../images/icon-pin.png" />
              </div>
              <div class="price">Only &pound;{{ event.price }}</div>
            </div>
            <div class="secondary">
              <div class="middle">
                <a href="javascript:;" role="button" class="button more">Find out more</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<!-- HoW it works -->
<div id="how-it-works">
  <div class="container">

    <div class="row">
      <div class="columns small-12">
        <h2>How It Works</h2>
      </div>
    </div>

    <div class="row">
      <ol>
        <li class="columns medium-6 large-3">
          <h3>Step 1 &mdash; Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          felis eu orci pharetra feugiat.<br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla
          nibh, ullamcorper id pharetra eget, pharetra sed odio.</p>
        </li>
        <li class="columns medium-6 large-3">
          <h3>Step 2 &mdash; Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          felis eu orci pharetra feugiat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla
          nibh, ullamcorper id pharetra eget, pharetra sed odio.</p>
        </li>
        <li class="columns medium-6 large-3">
          <h3>Step 3 &mdash; Title</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla
          nibh, ullamcorper id pharetra eget, pharetra sed odio.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla
          nibh, ullamcorper id pharetra eget, pharetra sed odio.</p>
        </li>
        <li class="columns medium-6 large-3">
          <h3>Step 4 &mdash; Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          felis eu orci pharetra feugiat.</p>
        </li>
      </ol>
    </div>

  </div>
</div>

<!-- Event overlays -->
{% for event in site.posts %}
  <div class="event-overlay hide">
    <div class="container">

      <div class="row">
        <div class="columns small-12">
          <div class="content">
            <h2>{{ event.title }}</h2>

            <div class="overview">
              <p>&pound;{{ event.price }}</p>

              <p class="date">
                <img src="../images/icon-date.png" />
                <span>{{ event.dates }}</span>
              </p>

              <p class="location">
                <img src="../images/icon-pin.png" />
                <span>{{ event.location }}</span>
              </p>
            </div>

            {{ event.content }}

            <a href="javascript:;" role="button" class="button close" aria-text="Close">&times;</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endfor %}
